<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form</title>
</head>
<body>
    <form method="POST" action="/items">
        <input type="text" placeholder="Name" name="name" required>
        <input type="number" placeholder="Price" name="price" required>
        <input type="text" placeholder="Brand" name="brand" required>
        <input type="text" placeholder="Category" name="category" required>
        <button type="submit">Submit</button>
    </form>
</body>
</html>
